doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Express Analytics
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='/express.analytics.css', rel='stylesheet')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#page-top')
            i.fa.fa-play-circle
            span.light  Express  
            | Analytics
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#overview') Performance
            li.page-scroll
              a(href='#visitors') Visitors
            li.page-scroll
              a(href='#map') Map
            li.page-scroll
              a(href='#contact') About
    section#overview.container.content-section.text-center
      .row
        .col-lg-12
          h2 Key Performance Indicators
          .row
            .col-lg-6
              .row
                .col-lg-6.text-right
                  #metric-visitors.jio-container.metricbox
                .col-lg-6
                  #chart-visitors.jio-container.chart
              .row
                .col-lg-6.text-right
                  #metric-requests.jio-container.metricbox
                .col-lg-6
                  #chart-requests.jio-container.chart
              .row
                .col-lg-6.text-right
                  #metric-loadtime.jio-container.metricbox
                .col-lg-6
                  #chart-loadtime.jio-container.chart
              .row
                .col-lg-6.text-right
                  #metric-maxloadtime.jio-container.metricbox
                .col-lg-6
                  #chart-maxloadtime.jio-container.chart
              .row
                .col-lg-6.text-right
                  #metric-errors.jio-container.metricbox
                .col-lg-6
                  #chart-errors.jio-container.chart
            .col-lg-6
              .row
                .col-lg-12
                  #table-url(style='width: 100%;')
              .row
                .col-lg-12
                  #table-refer(style='width: 100%;')
              .row
                .col-lg-12
                  #table-lasterrors(style='width: 100%;')
              //.row
                .col-lg-12
                  #pie-codes(style='width: 100%;')

    section#visitors.container.content-section.text-center
      .row
        .col-lg-12
          h2 Who is using your site?
          .row
            .col-lg-4
              #pie-browser(style='width: 100%;')
            .col-lg-4
              #pie-device(style='width: 100%;')
            .col-lg-4
              #pie-os(style='width: 100%;')

    section#map.content-section.text-center
      .container
        .col-lg-12
          h2 Where are your requests coming from?
          .row
            .col-lg-12
              #geo-requests
    section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 About Us
          p
            a(href="http://joo.la") We 
            | love playing around with data and even more doing it using NodeJS. 
          p
            | Feel free to <a href="http://joo.la#contact">email us</a> to provide some feedback, report <a href="http://github.com/joola/joola.io.express/issues">issues</a>, or to just say hello!
          p info@joo.la
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://twitter.com/joolatech')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
            li
              a.btn.btn-default.btn-lg(href='https://github.com/joola/joola.io.express')
                i.fa.fa-github.fa-fw
                span.network-name Github
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://reflect.io:8080/3rd/sorttable/tablesort.min.js')
    script(type='text/javascript' src='https://www.google.com/jsapi')

    script.
      var readKey = '#{readKey}';
    
    script.
      google.load('visualization', '1', {'packages': ['geochart']});

    script(src='/express.analytics.js')
